
body{
  background-color: rgb(15, 15, 68);
}

.App {
  text-align: center;
}

.logo {
  color: white;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoIMG {
  width: 400px;
}
