.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: red; /* Cambiar a tu color deseado */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../public/resources/img/CourtainRedCover.png");
    transition: height 1s ease-in-out;
    z-index: 999;
  }
  
  .curtain.active {
    height: 100%;
  }
  