form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: solid black 3px;
}

.error,
.alert {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  max-width: 200px;
  text-align: center;
  font-size: 15px;
}

#registerForm, #loginForm{
  border-radius: 20px;
  box-shadow: 0px 0px 100px  black;
  background-image: url("../../../public/resources/img/rockBrick.jpg");
  background-color: #5D6975;
  background-size: 50px;
  padding: 10px 20px 50px 20px;
}


#registerForm h2, #loginForm h2{
  background: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%);
  color: #ffffff;
  margin: 20px 0;
  font-size: 40px;
  font-family: Garamond, serif;
}



#registerForm input, #loginForm input{
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px  black;
  border: solid black 2px;
}
#registerForm input:focus, #loginForm input:focus{
  background-color: rgb(220, 220, 220);
}



#registerForm #submitRegisterButtom, #loginForm #submitLoginButtom{
  margin: 40px 0 10px 0;
  padding: 15px 40px;
  font-size: 20px;
  background-color: rgb(201, 201, 201);
  box-shadow: 1px 2px 10px  black;
  border: solid black 2px;
  border-radius: 10px;

  transition: all 0.4s;
}
#registerForm #submitRegisterButtom:hover, #loginForm #submitLoginButtom:hover{
  box-shadow: 1px 2px 15px  black;
  transition: all 0.2s;
  background-color: white;
  cursor: pointer;
}


.registerButton, .loginButton{
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: solid black 2px;
}