form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.error,
.alert {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  max-width: 200px;
  text-align: justify;
  font-size: 15px;
}

#registerForm{
  border-radius: 20px;
  background-color: rgb(85, 169, 194);
  padding: 10px 20px 50px 20px;
}

#registerForm h2{
  margin: 20px 0;
  font-size: 40px;
  font-family: sans-serif;
}


#registerForm input{
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

#registerForm input:focus{

  background-color: rgb(220, 220, 220);
}

#registerForm #submitRegisterButtom{
  margin: 40px 0 10px 0;
  padding: 15px 40px;
  font-size: 20px;
}



#loginForm{
  border-radius: 20px;
  background-color: rgb(85, 169, 194);
  padding: 10px 20px 50px 20px;
}


#loginForm h2{
  margin: 20px 0;
  font-size: 40px;
  font-family: sans-serif;
}


#loginForm input{
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

#loginForm input:focus{
  background-color: rgb(220, 220, 220);
}

#loginForm #submitLoginButtom{
  margin: 40px 0 10px 0;
  padding: 15px 40px;
  font-size: 20px;
}