#GameMenu {
    background-image: url("../../../public/resources/img/pixelCastleBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;

    display: flex;
    justify-content: center;
}


@keyframes logoAni {
    0% {
        top: -100px;
    }

    50% {
        top: -50px;

    }

    100% {
        top: -100px;
    }
}




/* decision menu */
#DecisionMenu {
    position: absolute;
    bottom: 20px;
    width: 700px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#decision {
    background-color: rgb(138, 94, 68);
    background-image: url("../../../public/resources/img/paperTexture.png");
    background-position: center;
    background-size: cover;
    border: solid 3px black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;

    width: 300px;
    height: 400px;
    bottom: 20px;
    z-index: 6;
    transition: all 0.8s;
}

#decision h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(#ffffff54, transparent);

}

#decision p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin: 25px 25px 0 25px;
    color: black;
    font-size: 20px;
    background: radial-gradient(#ffffff54, transparent);
}







.decisionList{
    list-style:none;
    font-size: 20px;
    
}

.decisionList li{
    text-align: justify;
    margin: 10px 0;
    text-transform:capitalize;
}



#NPCimg {
    margin: 20px; 
    border: outset 4px rgb(185, 138, 6); 
    background-color: rgb(247, 247, 247);
    width: 200px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}


#NPCimg img{
    scale: 1.1;
    width: 200px;
    height: 200px;
}


#factionsBlock{
    position: absolute;
    top: 120px;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.faction{
    margin: 0 10px;
    background-color: blue;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  white;
    background: linear-gradient(0deg, orange 0%, orange 50%, grey 50%, grey 100%);
    transition: all 1;
    border: outset 4px rgb(241, 241, 241); 

}

.faction img{
    width: 75px;
    height: 75px;
}

#points{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: auto;
    bottom: 20px;
    
}


#points div{
    width: 200px;
    height: 400px;
    padding: 0 0 10px 0;
    text-align: left;
    background-position: center;
    background-size: 150px;
    
}


.loss-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    background-image: url(../../../public/resources/img/woodTexture2.jpg);
    background-size: 150px;
    padding: 20px;
    border: solid 4px rgb(139, 139, 139) ;
    border-radius: 15px;
    box-shadow: 0 0 1000px rgb(0, 0, 0);
    z-index: 9999;
    width: 600px;
    height: 400px;
    color: white;
    font-size: 20px;

}

.loss-menu button {
    right: 15px;
    top: 15px;
    font-size: 20px;
    padding: 35px 35px 40px 35px;
    text-align: center;
    background: url("../../../public/resources/button/redButton1.png");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border-color: transparent;
    transition: all 0.4s;
    z-index: 2;
    color: white;

    /* Asegura que MainMenuButton esté por encima de todo */
}

.loss-menu button p{
    transform: translateY(3px);    
    margin: 0px ;
}




.loss-menu button:hover {
    filter: drop-shadow(0px 0px 5px #000000);
    scale: 1.1;
    color: yellow;
    cursor: pointer;
    transition: all 0.2s;
}




#LateralMenu{
    position: absolute;
    right: 50px;    
    width: 5vw;
    height: 30vw;
    top: 100px;
}

#poitsMenu{
    color: white;
    filter: drop-shadow(0px 0px 20px #000000);  
}
.playerPoints{
    margin-top: 20px;
    font-size: 20px;
}
.playerPoints b{
    font-size: 40px;
}


#poitsMenu h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 0px;
}

#poitsMenu p{
    margin-top: 0px;
    font-size: 30px;
}

#shopMenu img{
    width: 150px;
    margin-left: -27px;
    transition: all 1s;
}

#shopMenu img:hover{
    transition: all 0.3s;
   scale: 1.2;
    filter: drop-shadow(0px 0px 10px #ffffff90);  
}



.shop-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    background-image: url(../../../public/resources/img/woodTexture2.jpg);
    background-size: 150px;
    padding: 30px;
    border: solid 4px rgb(139, 139, 139) ;
    border-radius: 15px;
    box-shadow: 0 0 1000px rgb(0, 0, 0);
    z-index: 9999;
    width: 900px;
    height: 700px;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shop-menu div{
    background-color: rgb(39, 39, 39);
    overflow: hidden;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    filter: drop-shadow(0px 0px 10px #00000070);  
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    transition: all 0.3s;
}
.shop-menu div:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.486);
}

.shop-menu div img{
    width: 60px;
    margin-bottom: 15px;
}

.shop-menu div h2{
    font-size: 20px;
    margin: 0px;
}

.shop-menu div button {
    margin: 0px;
    font-size: 20px;
    padding: 40px 35px 40px 35px;
    text-align: center;
    background: url("../../../public/resources/button/redButton1.png");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border-color: transparent;
    transition: all 0.4s;
    z-index: 2;
    color: white;
    /* Asegura que MainMenuButton esté por encima de todo */
}

.shop-menu div button:hover {
    filter: drop-shadow(0px 0px 5px #000000);
    color: yellow;
    cursor: pointer;
    transition: all 0.2s;
}
