#GameMenu {
    background-image: url("../../../public/resources/img/pixelCastleBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;

    display: flex;
    justify-content: center;
}


@keyframes logoAni {
    0% {
        top: -100px;
    }

    50% {
        top: -50px;

    }

    100% {
        top: -100px;
    }
}



#MainMenuButton {
    position: absolute;
    left: 15px;
    top: 100px;
    font-size: 20px;
    padding: 35px 35px 40px 35px;
    text-align: center;
    background: url("../../../public/resources/button/blueButton.png");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 100%;
    transition: all 0.4s;
    z-index: 2;
    /* Asegura que MainMenuButton esté por encima de todo */
}

#MainMenuButton:hover {
    filter: drop-shadow(5px 5px 14px #000000);
    scale: 1.1;
    color: yellow;
    cursor: pointer;
    transition: all 0.2s;
}


/* decision menu */
#DecisionMenu {
    position: absolute;
    bottom: 20px;
    width: 700px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#decision {
    background-color: rgb(138, 94, 68);
    background-image: url("../../../public/resources/img/paperTexture.png");
    background-position: center;
    background-size: cover;
    border: solid 3px black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;

    width: 300px;
    height: 400px;
    bottom: 20px;
    z-index: 6;
}

#decision h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(#ffffff54, transparent);

}

#decision p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 25px 25px 0 25px;
    color: black;
    font-size: 20px;
    background: radial-gradient(#ffffff54, transparent);
}

#points{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: auto;
    bottom: 20px;
}

#points div{
    width: 200px;
    height: 300px;
    padding: 0 30px;
    text-align: left;

    background-color: rgb(138, 94, 68);
    background-image: url("../../../public/resources/img/woodTexture2.jpg");
    background-position: center;
    background-size: 150px;
    border: solid 3px black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;
    z-index: 5;
    transition: all 0.3s;
    color: white;
}

#points div h1{
    text-align: center;
    padding-bottom: 10px;
}


#acceptPoints H1{
    color: rgb(0, 224, 0);
}


#declinePoints H1{
        color: red;
}





.NPCimg {
    margin: 20px; 
    border: outset 4px rgb(185, 138, 6); 
    background-color: rgb(247, 247, 247);
    width: 200px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}


.NPCimg img{
    scale: 1.1;
    width: 200px;
    height: 200px;
}



