.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgb(0, 0, 0) 25%, rgba(255, 0, 0, 0) 100%);
    padding: 10px 20px; /* Agrega un poco de espacio alrededor del header */
    z-index: 1;
  }
  
  #pagConfig { 
    display: flex;
    flex-direction: column;
    text-align: center; /* Centra el contenido dentro de #pagConfig */
    width: 200px;
  }
  
  .volume-block {
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .volume-block:hover {
    background-color: transparent;
    background-size: 0px;
    backdrop-filter:opacity(0%);
  }

  #musicVolume{
  background-image: url("../../../public/resources/img/MusicSFXLogoWhite.png");
  }

  #musicVolumeSFX{
    background-image: url("../../../public/resources/img/volumeSFXLogoWhite.png");
    }

  .volume-slider{
    width: 0;
    transition: all 0.3s;
    margin-top: 17px;
    opacity: 0%;
  }




  .volume-block:hover .volume-slider {
    width: 150px; 
    opacity: 100%;
  }
  
  #registerAndLogin {
    display: flex;
    align-items: center;
   
  }
  

  .registerButton, .loginButton {
    margin-left: 10px; /* Agregar un espacio entre los botones */
    z-index: 1;
    transition: all 0.4s;
    font-size: 12px;
    background-color: rgb(217, 217, 217);
    box-shadow: 1px 2px 5px  black;
    border: solid black 2px;
    border-radius: 10px;
    position: absolute;
    top: 25px;
  }

  .registerButton:hover, .loginButton:hover {
    box-shadow: 0px 0px 10px  black;
    border-radius: 5px ;
    background-color: white;
    transition: all 0.2s;
    cursor: pointer;
  }

  .registerButton {
    right: 120px;

  }

  .loginButton{
    right: 33px;
 
  }





  
