#MainMenu {
    background-image: url("../../../public/resources/video/pixelForestBG.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;

}

.logo {
    width: auto;
    display: flex;
    justify-content: center;
}

.logoIMG {
    position: absolute;
    width: 700px;
    z-index: 0;
    top: -100px;
    animation: logoAni 20s infinite 0s ease-in-out;
    background: radial-gradient(rgba(255, 255, 0, 0.25) 0%, transparent 70%);
}

@keyframes logoAni {
    0% {
        top: -100px;
    }

    50% {
        top: -50px;

    }

    100% {
        top: -100px;
    }
}


.startDiv {
    margin-top: 400px;
    /*Altura de botón de start*/
    width: auto;
    display: flex;
    justify-content: center;
}

.startButton {
    background-image: url("../../../public/resources/button/redButton1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    transition: all 0.3s;
    border-radius: 200px;
}



.startButton:hover {
    filter: drop-shadow(5px 5px 14px #000000);
    scale: 1.05;
    transition: all 0.2s;
    color: yellow;
    cursor: pointer;
}