
.profile-image{
    position: absolute;
    right: 33px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid rgb(255, 255, 255) 2px;
    background-color: white;
    transition: ease-in 0.3s;
    cursor: pointer;
}


.profile-image.menu-open {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: ease-out 0.1s;
}



.user-details {
    position: absolute;
    background-image: url("../../../public/resources/img/woodTexture.png");
    background-color: #5D6975;
    background-size: 140px;
    right: 35px;
    top: 90px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: solid #ae725f 5px;
    box-shadow: 0px 0px 30px black;
    z-index: 1;
    width: 200px;
    max-width: 300px;
}

.user-details span{
    margin-bottom: 15px;
    background-color: rgb(241, 241, 241);
    padding: 8px 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px black;
    border: solid black 2px;
    overflow: hidden;
    transition: all 1s;

}

.user-details .UpdateProfile{
    padding: 10px 0px;
    margin: 30px 40px 0px 40px;
    z-index: 1;
    transition: all 0.4s;
    background-color: rgb(112, 245, 255);
    box-shadow: 1px 2px 5px  black;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-details .UpdateProfile:hover{
    box-shadow: 0px 0px 10px  black;
    border-radius: 5px ;
    background-color: rgb(71, 193, 202);
    transition: all 0.2s;
    cursor: pointer;
}


.user-details .UpdateProfile p{
    color: black;
    margin-right: 10px;
    padding-top: 2px;
    font-size: 18px;
}

.UpdateProfileImg{
    padding-top: 4px;
    width: 15px;
}






.user-details p{
    margin: 0;
    color: white;
    z-index: 5;
}

.user-details .user-id{
    color: white;
    margin-top: 10px;
    font-size: 10px;
}


.logoutButton{
    padding: 10px 0px;
    margin: 20px 10px 10px 10px;
    z-index: 1;
    transition: all 0.4s;
    background-color: rgb(255, 117, 117);
    box-shadow: 1px 2px 5px  black;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoutButton:hover{
box-shadow: 0px 0px 10px  black;
border-radius: 5px ;
background-color: rgb(226, 67, 67);
transition: all 0.2s;
cursor: pointer;
}


.logoutButton p{
    color: black;
    margin-right: 10px;
    font-size: 18px;
}

.logoutLogo{
    padding-top: 3px;
    width: 15px;
}

